* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Inter", sans-serif;

  --color-primary: #00d23f;
  --color-primary-hover: #00b837;

  --color-background: #f4f6f4;
  --color-surface: #ffffff;

  --color-text-primary: #1d2b1f;
  --color-text-secondary: #6b6f6b;

  --color-error: #e53935;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  min-height: 100vh;
  color: var(--color-text-primary);
}